In [ ]:
#blank function.
#creating a function.
def greet():
    print(f"Hello User.")

#Calling a function
greet()

Hello User.

In [ ]:
#Creating a function with argument.
def greet(name):
    print(f"Hello User.{name}")

#Calling a function
greet("Ajay sati")

Hello User.Ajay sati

In [ ]:
#creating a function
def addition(a,b):
    print(a+b)

#calling a function
addition(8,9)
a= addition(8,9)
print(f"This is value of variable a .{a}")

17
17
This is value of variable a .None

In [ ]:
#creating a function
def addition1(a,b):
    return (a+b)

#calling a function
addition1(8,9)
a= addition1(8,9)
print(f"This is value of variable a .{a}")

This is value of variable a .17

In [ ]:
a

17

In [ ]:
#FUNCTIONS CAN BE GIVEN PARARMTERS. AND THEY CAN BE MADE TO EXECUTE THE THINGS ON THE BASIS OF PARAMETER.

In [ ]:
#CALCULATE FACTORIAL FOR THE USER INPUT GIVEN

#defining the function
def factorial(a):
    fact= 1
    for i in range(1,a+1,1):
        fact=fact*i
    return fact

#calling the function
factorial(5)

120

In [ ]:
#defualt parameter {can be set and after setting the default parameters , we can then also chnage the value if needed}
def increment(salary , increment=0.20):
    return(salary+(salary*increment))

In [ ]:
increment(2000000)

2400000.0

In [ ]:
#calling the function.
increment(10000, 0.50)

15000.0

In [ ]:
# return multiple values and store them into multiple variables.

#defining the function
def calculator(a,b):
    w= a+b
    x= a-b
    y= a*b
    z= a/b
    return(w,x,y,z)

#Calling the function
l,m,n,o= calculator(3,7)
print(f"sum: {l}, subtract: {m}, multiply: {n}, divide: {o}")

sum: 10, subtract: -4, multiply: 21, divide: 0.42857142857142855

In [ ]:
def calculator(a,b):
    w= a+b
    x= a-b
    y= a*b
    z= a/b
    return(x)   # if there are multiple return statements, if statement will count only first return statement.
    return(w)

In [ ]:
a= calculator(4,5)

In [ ]:
a

-1

There is a dictionary, for the following dictionary , create a function where user will input its name and will get userid and password as output and , if the user id is not username is not listed , show the error message :- “No such user found.”

{
    "Aarav": {"userid": "aarav1", "password": "passwordA1"},
    "Aisha": {"userid": "aisha2", "password": "passwordA2"},
    "Arjun": {"userid": "arjun3", "password": "passwordA3"},
    "Diya": {"userid": "diya4", "password": "passwordD4"},
    "Ishaan": {"userid": "ishaan5", "password": "passwordI5"},
    "Priya": {"userid": "priya6", "password": "passwordP6"},
    "Ravi": {"userid": "ravi7", "password": "passwordR7"},
    "Simran": {"userid": "simran8", "password": "passwordS8"},
    "Vikram": {"userid": "vikram9", "password": "passwordV9"},
    "Neha": {"userid": "neha10", "password": "passwordN10"},
    "Rahul": {"userid": "rahul11", "password": "passwordR11"},
    "Sneha": {"userid": "sneha12", "password": "passwordS12"},
    "Karan": {"userid": "karan13", "password": "passwordK13"},
    "Tanvi": {"userid": "tanvi14", "password": "passwordT14"},
    "Manish": {"userid": "manish15", "password": "passwordM15"},
    "Meera": {"userid": "meera16", "password": "passwordM16"},
    "Ananya": {"userid": "ananya17", "password": "passwordA17"},
    "Sandeep": {"userid": "sandeep18", "password": "passwordS18"},
    "Kavya": {"userid": "kavya19", "password": "passwordK19"},
    "Rani": {"userid": "rani20", "password": "passwordR20"}
                   }

In [ ]:
user_data= {
    "Aarav": {"userid": "aarav1", "password": "passwordA1"},
    "Aisha": {"userid": "aisha2", "password": "passwordA2"},
    "Arjun": {"userid": "arjun3", "password": "passwordA3"},
    "Diya": {"userid": "diya4", "password": "passwordD4"},
    "Ishaan": {"userid": "ishaan5", "password": "passwordI5"},
    "Priya": {"userid": "priya6", "password": "passwordP6"},
    "Ravi": {"userid": "ravi7", "password": "passwordR7"},
    "Simran": {"userid": "simran8", "password": "passwordS8"},
    "Vikram": {"userid": "vikram9", "password": "passwordV9"},
    "Neha": {"userid": "neha10", "password": "passwordN10"},
    "Rahul": {"userid": "rahul11", "password": "passwordR11"},
    "Sneha": {"userid": "sneha12", "password": "passwordS12"},
    "Karan": {"userid": "karan13", "password": "passwordK13"},
    "Tanvi": {"userid": "tanvi14", "password": "passwordT14"},
    "Manish": {"userid": "manish15", "password": "passwordM15"},
    "Meera": {"userid": "meera16", "password": "passwordM16"},
    "Ananya": {"userid": "ananya17", "password": "passwordA17"},
    "Sandeep": {"userid": "sandeep18", "password": "passwordS18"},
    "Kavya": {"userid": "kavya19", "password": "passwordK19"},
    "Rani": {"userid": "rani20", "password": "passwordR20"}
}

In [ ]:
if "Kavya" in user_data:    #show this line first
    print("True")

True

In [ ]:
#Creating Function.
def get_user_credentials(username):
    if username in user_data:
        print(f"Hello {username}")
        print(f"Your Username is : {user_data[username]["userid"]}")
        print(f"Your Password is : {user_data[username]["password"]}")
    else:
        return "No such user found."

#Calling Function
get_user_credentials("Karan")


#SO RATHER THAN EXECUTING THESE LINE OF CODE AGAIN AND AGAIN WE ARE  JUST CALLING THE FUNCTION, :- CODE REUSABILITY.

Hello Karan
Your Username is : karan13
Your Password is : passwordK13

In [ ]:
#*args and **kwargs

In [ ]:
# *args - allow function to accept any number of positional arguments.
# arguments are passed to the function as list.
# 'args' is temporary we can have any term after the *

In [ ]:
#Lets say , we have to give multiple arguments
#question - find sum of the entire year sales (12 arguments)

def yearsale(*args):
    return(sum(*args))

In [ ]:
yearsale([1,2,3,4,5,6,7,8,9,10,11,12])

78

In [ ]:
#this args keyword is temporary , we can use any other key word followed by *

In [ ]:
def yearsale(*sales):
    return(sum(*sales))

In [ ]:
yearsale([1,2,3,4,5,6,7,8,9,10,11,12])

78

In [ ]:
#In Python, **kwargs allows you to pass a variable number of keyword arguments to a function. These arguments are collected into a dictionary
# arguments are passed in key value pair.
# kwargs is optional we can have nay name after **

def fun2(**kwargs):
    for key, values in kwargs.items():
        print(f"{key}:{values}")

In [ ]:
fun2(Name= "Ajay Sati", Age=25, Role= "DataScientist")

Name:Ajay Sati
Age:25
Role:DataScientist

In [ ]:
#MORE PRACTISE WE WILL DO WHEN WE STUDY DATAFRAMES, THERE WE BASICALLY USE FUNCTIONS.
#FUNCTIONS ARE SIMPLEY LOGIC OF CODE JINKO EK NAME DA DIYA HUMNE.

True

### LAMBDA FUNCTION.

A lambda function is a quick and simple way to create a small function in Python without giving it a name. It's like writing a mini one-line function for temporary use.

This one liner function is  created using  keyword lambda

In [ ]:
# lambda argument: expression

In [ ]:
#function to DOuble something

In [ ]:
def fun1(a):
    print(a*2)

In [ ]:
double = lambda x:x*2  # one argument

In [ ]:
print(double(5))

10

In [ ]:
addi= lambda x,y:x+y

In [ ]:
print(addi(2,4))

6

In [ ]:
abc= [1,2,3,4,5,6]

In [ ]:
def fun1(a):
    for i in a:
        print(i*i)

In [ ]:
fun1(abc)

1
4
9
16
25
36

In [ ]:
a= map(lambda x:x*x, abc)

In [ ]:
print(list(a))

[1, 4, 9, 16, 25, 36]