# For Loop is used when the number of iterartions are known including the condition but while loop is used when number of iterations are not known means the limit or boundary is not known but condition is known.

In [1]:
# For loop example
list1 = [1,2,3,4,5]
for i in list1:
  print(i % 2 == 0)

False
True
False
True
False

In [2]:
# While loop example
i = 1  # Initialization
while i < 6:  # Condition
    print(i)
    i += 1  # Updation

1
2
3
4
5

In [7]:
sum = 0
for i in range(1, 11):
  sum = sum + i
print(sum)

55

In [9]:
product = 1
for i in range(1, 11):
  product = product * i
print(product)

3628800

In [14]:
i = 1
sum = 0
while (i < 11):
  sum = sum + i
  i += 1
print(sum)

55

In [15]:
i = 1
product = 1
while (i < 11):
  product = product * i
  i += 1
print(product)

3628800

In [16]:
units = int(input("Enter your units: "))
if units <= 100:
    bill = units * 3.46
elif units >= 101 and units <= 300:
    bill = 346 + ((units - 100) * 7.43)
elif units >= 301 and units <= 500:
    bill = 346 + 1486 + ((units - 300) * 10.32)
else:
    bill = 346 + 1486 + 2064 + ((units - 500) * 11.71)
print("Bill Per Unit:",bill)
bill = bill + (units*1.45)
print("Bill after adding Line rent:",bill)
bill = bill + 100
print("Bill after adding Meter rent:",bill)
bill = bill + (bill*0.16)
print("Total Bill after adding tax:",bill)

Enter your units: 59
Bill Per Unit: 204.14
Bill after adding Line rent: 289.69
Bill after adding Meter rent: 389.69
Total Bill after adding tax: 452.0404

In [18]:
list2 = []
for i in range(1, 101):
  list2.append(i)
print(list2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [19]:
list3 = []
for j in list2:
  cube = j*j*j
  if cube % 4 == 0 or cube % 5 == 0:
    list3.append(cube)
print(list3)

[8, 64, 125, 216, 512, 1000, 1728, 2744, 3375, 4096, 5832, 8000, 10648, 13824, 15625, 17576, 21952, 27000, 32768, 39304, 42875, 46656, 54872, 64000, 74088, 85184, 91125, 97336, 110592, 125000, 140608, 157464, 166375, 175616, 195112, 216000, 238328, 262144, 274625, 287496, 314432, 343000, 373248, 405224, 421875, 438976, 474552, 512000, 551368, 592704, 614125, 636056, 681472, 729000, 778688, 830584, 857375, 884736, 941192, 1000000]

In [21]:

# Function to count vowel
def vowelcount(str):
     
    
    count = 0
     
    # Creating a set of vowels
    vowel = set("aeiouAEIOU")
     
    # Loop to traverse the alphabet
    # in the given string
    for alphabet in str:
     
        # If alphabet is present
        # in set vowel
        if alphabet in vowel:
            count = count + 1
     
    print("No. of vowels :", count)
     
# Driver code
str = "I want to become a data scientist."
 
# Function Call
vowelcount(str)

No. of vowels : 12