# Measures of Central Tendency

In [1]:
# Mean i.e Average
age = [22,34,45,56,67,77,12,11,34,22,23,67,45,50]

In [5]:
import numpy as np
np.mean(age) # Calculating mean

40.357142857142854

In [8]:
import seaborn as sns
# There are some random in-built dataset inside seaborn
# One of them is called 'tips'
df = sns.load_dataset('tips')

In [9]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [12]:
np.mean(df['total_bill']) 
# Finding the mean of 'total_bill' column

19.78594262295082

In [13]:
# Median
age = [22,34,45,56,67,77,12,11,34,22,23,67,45,50]

In [14]:
import numpy as np
np.median(age)

39.5

In [15]:
# Handling outliers
age = [22,34,45,56,67,77,12,11,34,22,23,67,45,50,1000]

In [16]:
np.mean(age)

104.33333333333333

In [17]:
np.median(age)

45.0

## So, we can see the difference while handling the outliers

In [18]:
# Mode
# For finding mode we need a special library called scipy
age = [22,34,45,56,67,77,12,11,34,22,23,67,45,50,50,50,50]

In [ ]:
from scipy import stats
stats.mode(age)